html{
    background: #e3e3e3
}
header{
    color:black;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 40px;
    padding:40px;
    color: purple;
    border-top: 10px solid #242424;
    background: #fff;
}

nav{
    background: black;
    position: sticky;
    top: 0;
}

nav ul li{
    list-style: none;
    
}
section{
    background: gray;
    display: flex;
}

#anime-rank{
    background: black;
    display: flex;
    top: 0;
}
h1{
    font-size: 3em;
    margin: 0;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.4em
}

p{
    font-size: 1.2em;
}

#blog{
    border-top: 1px dotted #ccc;
}

.blog-post{
    border-bottom: 1px dotted #ccc;
}

.author{
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

time{
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aqua;
}

a{
    color: white;
}

@media (max-width: 400px) {
    html {
        background: red;
    }
}